.paragraph--type--step {
  border: 1px solid black;
  margin-bottom: 1em;
}

.step_number {margin: 1em}

.due_date {
  font-weight: 800;
  font-family: Arial, sans-serif;
  width: 6em;
  float: left;
  padding: 1em;
  background: lightgrey;
  border-top: 2px solid black;
  line-height: 1.4em;
  text-align: center;
  margin-right: 2em;
  margin-bottom: 1em;
}

.page .field--name-field-step-name {
  min-height: 4em;
  font-size: 1.5em;
  font-weight: bold; 
  border-top: 2px solid black;
  padding: 1.5em;
}

.page .field--name-field-resources {
  margin: 1em;
  clear: left;
}

.page .field--name-field-percent-time-for-step {
  margin: 0 1em 1em;
}

.field--name-field-percent-time-for-step .field__label {
  font-style: italic;
  display: inline;
}
.field--name-field-percent-time-for-step .field__item {
  display: inline;
}

.addeventatc {margin-left: 1em; margin-bottom: 1em; }

#assignment-form {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}



/* For UTSC */
.form-item-date-start, .form-item-date-due, .form-item-assignment-list {
      width: 65%;
      float: left;
      margin-right: 1em;
}

.body .field--name-field-step-name {
  min-height: 4em;
  font-size: 1.5em;
  font-weight: bold;
  border-top: 2px solid black;
  padding: 1.5em;
}

.body .field--name-field-resources {
  margin: 1em;
  clear: left;
}

.body .field--name-field-percent-time-for-step {
  margin: 0 1em 1em;
}
