.paragraph--type--step {
  border: 1px solid black;
  margin-bottom: 1em;
}

.step_number {margin: 1em}

.due_date {
  font-weight: 800;
  font-family: Arial, sans-serif;
  width: 6em;
  float: left;
  padding: 1em;
  background: lightgrey;
  border-top: 2px solid black;
  line-height: 1.4em;
  text-align: center;
  margin-right: 2em;
  margin-bottom: 1em;
}

.page .field--name-field-step-name {
  min-height: 4em;
  font-size: 1.5em;
  font-weight: bold; 
  border-top: 2px solid black;
  padding: 1.5em;
}

.page .field--name-field-resources {
  margin: 1em;
  clear: left;
}

.page .field--name-field-percent-time-for-step {
  margin: 0 1em 1em;
}

.field--name-field-percent-time-for-step .field__label {
  font-style: italic;
  display: inline;
}
.field--name-field-percent-time-for-step .field__item {
  display: inline;
}

.addeventatc {margin-left: 1em; margin-bottom: 1em; }

#assignment-form {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}



/* For UTSC */

.form-item-date-start, .form-item-date-due, .form-item-assignment-list {
      width: 65%;
      float: left;
      margin-right: 1em;
}

.body .field--name-field-step-name {
  min-height: 4em;
  font-size: 1.5em;
  font-weight: bold;
  border-top: 2px solid black;
  padding: 1.5em;
}

.body .field--name-field-resources {
  margin: 1em;
  clear: left;
}

.body .field--name-field-percent-time-for-step {
  margin: 0 1em 1em;
}
 /*Toggle button*/
 .switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  top: 0.25em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  top: 0.2em;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
.field--name-field-percent-time-for-step, .paragraph--type--step, .paragraph--view-mode--default{
  -webkit-transition: .4s;
  transition: .4s;
}